.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: var(--text);
    gap: 16px;
    margin: 32px 0;
}

.list_item {
    display: block;
    padding: 16px;
    width: 100%;
    border: 1px solid var(--cor-primaria);
}

.list_item b {
    margin-right: 8px;
}

.list_item a {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: var(--cor-primaria);
    color: var(--bg-color);
    padding: 8px;
    margin-top: 8px;
}

.list_item a:hover {
    background-color: var(--cor-primaria-clara);
} 

.list_title {
    margin-top: 32px;
    color: var(--cor-primaria);
}